<form id="site" class="index" action='/actions'method="post">
  <label>Action:</label><br>
  <input type="text" name="action[action]" placeholder="Action"><br>
  <label>Media:</label><br>
  <input type="text" name="action[media]" placeholder="Title"><br>
  <label>Image:</label><br>
  <input type="text" name="action[image]" placeholder="Image"><br>

  <input type="submit" value="Add Image" />
</form>
